.card-awards {
   border-top: 2px solid #d8d8d8;
   margin-bottom: 100px;
}

.card-awards-2 {
   width: 100%;
   min-height: 41vh;
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid #d8d8d8;
   padding-top: 48px;

   &__container {
      width: 100%;
      max-width: 465px;
   }

   &__container-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 59px;
   }

   &__container-3 {
      display: flex;
      justify-content: space-between;
   }

   &__container-4 {
      width: 100%;
      max-width: 190px;
      line-height: 26px;
   }

   &__date {
      font-size: 16px;
   }
}

.heading-5 {
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 12px;
}
