@use "header";

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 9vh;

   &__links {
      width: 100%;
      max-width: 353px;
      display: flex;
      align-items: baseline;
   }
   &__icon,
   &:visited {
      transition-duration: 0.3s;
      color: header.$link-color;
      &:hover,
      &:active {
         transition-duration: 0.3s;
         color: header.$hover-color;
      }
      margin-left: 24px;
   }
   &__img {
      margin-left: 24px;
   }
}
