@import "gallery";
@import "card";
@import "card-awards";

// .card-title {
//    font-size: 18px;
//    font-weight: 700;

//    &__heading {
//       opacity: 0.5;
//    }
// }

.content-images {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 45px;
}
