@use "fonts";
@use "main";

@import "header";
@import "main";

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   font-family: fonts.$main-font;
   font-size: 18px;
   color: main.$main-txt-color;
}
